.hero {
  display: flex;
  align-items: center;
  background: url("/imgs/backgrounds/fundo_de_cafe.jpg") no-repeat center center/cover;
  text-align: center;
  height: 90vh;
  position: relative;
}

.hero-title {
  font-size: 2rem;
  color: #fdf8e4;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: var(--medium-gray);
  max-width: 700px;
  margin: 0 auto 2rem;
}

.cta-button {
  display: inline-block;
  background-color: #49A651;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
}

.cta-button:hover {
  width: 9%;
  height: 5%;
}

.hero-title span {
  color: #34337c;


}

/* Seta */
.scroll-down {
  font-size: 60px;
  animation: bounce 1.5s infinite;
  color: #fdf8e4;
  position: absolute;
  bottom: 0;
  margin-left: 700px;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

.main-content span {
  color: #34337c;
}

.main-content {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 900px;

}

.main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #100b1e;
  height: 70vh;
}

.main-container h2 {
  color: #fdf8e4;
}

.main-container p {
  color: #fdf8e4;
  font-size: 24px;
}

.code-home {
  background-color: #5C5988;
  height: 70vh;
  display: flex;
  justify-content: center;
}

.code-title {
  margin-left: 200px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.code-title span {
  color: #100B1E;
}

.code-text {
  width: 400px;
  margin-left: 200px;
}

#humor {
  width: 45%;
}

.humor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 200px;
}

.team-home {
  background-color: #100b1e;
  height: 70vh;
}



