.hero {
  padding: 8rem 0 4rem;
  background-color: var(--light-gray);
  text-align: center;
}

.hero-title {
  font-size: 1.5rem;
  color: #C6AC8F;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: var(--medium-gray);
  max-width: 700px;
  margin: 0 auto 2rem;
}

.cta-button {
  display: inline-block;
  background-color: #49A651;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s;
}

.cta-button:hover {
  width: 9%;
  height: 5%;
}
