:root {
  --primary-blue: #210F4B;
  --dark-blue: #34337c;
  --light-blue: #93c5fd;
  --dark-gray: #100B1E;
  --medium-gray: #6b7280;
  --light-gray: #f3f4f6;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: var(--dark-gray);
  line-height: 1.6;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
